LANGSMITH_API_KEY=''
LANGSMITH_ENDPOINT=''
LANGSMITH_TRACING_V2=''
LANGSMITH_PROJECT=''

TAVILY_API_KEY=''

GITHUB_TOKEN=""
GIGA_AUTH=''

DATABASE_URL=postgresql://emotion_diary:dev_password@postgres:5432/emotion_diary
REDIS_URL=redis://redis:6379

JWT_SECRET=super_secret_key
GIGACHAT_CLIENT_ID=your_client_id
GIGACHAT_CLIENT_SECRET=your_secret
GIGACHAT_AUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_API_URL=https://gigachat.devices.sberbank.ru/api/v1

STRIPE_SECRET_KEY=your_stripe_key
